
* {
    /* font-family: 'Ubuntu Mono', monospace; */
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}


a {
    color: steelblue;
    transition: color 0.5s ease;
}

a:hover {
    color: red;
    text-decoration: none;
}

a.internal-link {
    color: olivedrab;
}

/* ubuntu-mono-regular - latin */
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-mono-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-mono-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-mono-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-mono-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-mono-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-mono-v10-latin-regular.svg#UbuntuMono') format('svg'); /* Legacy iOS */
  }

.sidebar {
    border-right: 1px solid black; /* TODO IF NOT MOBILE! */
}

@media (max-width: 767.98px) {
    .sidebar {
        border-right: 0px solid black; /* TODO IF NOT MOBILE! */
    }
}

.solid {
    border-top: 1px solid black;
}

.name {
    font-weight: 700;
    font-size: larger;
}

.title {}

.desc {
    font-size: smaller;
}

.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


.link-box-a {
    color: black;
    transition: color 0.5s ease;
}

.link-box-a:hover {
    text-decoration: none;
}

.link-text {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.link-box-a:hover .link-text {
    opacity: 1;
}

.gray-bottom {
    border-bottom: 1px solid lightgray;
}

.tag {
    border: 1px solid black;
    /* border-radius: 500px; */
    font-size: x-small;
    white-space: nowrap;
}

.contact-bar span {
    white-space: pre;
    float: left;
}

.entry-desc {
    font-size: small;
}

.entry {
    margin-left: 25px;
    position: relative;
}

.entry-link {
    position: absolute;
    top: 0;
    left: -25px;
    z-index: 2;
}

.mini-img {
    max-width: 180px;
    max-height: 180px;
}

.entry-place {
    color: gray;
}

ul.link-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 767.98px) {
    ul.link-list {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}
